.a{
    color: darkcyan;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

.order_hedding{
    font-size: small;
    padding: 15px 45px;
}

#mainOrder{
   padding-left: 50px;
   padding-right: 40px;
}

.mainOrderHeading{
    font-size: 28px;
    font-weight: 500;
}

#mainOrderinner{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px 20px 0px
}

#orderSearch{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
}
.inputfield{
    height: 30px;
    border: solid #929292 1.33px; 
    border-radius: 5px;
    padding-inline-start: 8px;
}
.inputfield:focus, input:focus{
    outline:none;
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.7), 0 0 3px rgba(0, 128, 0, 0.5);
}
.orderSearchButton{
    padding: 7px 10px;
    border-radius: 16px;
    border: none;
    color: white;
    background-color: #383838;
    font-size: 14px;
    font-weight: 600;
}
.orderSearchButton:hover{
    background-color: #0f1111;
    cursor: pointer;
}
.mainOrderSearchdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#orderSortDiv{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 5px;
    padding: 0px 10px 10px 0px;
    font-size: small;
}

#orderSortDiv p{
    font-weight: bold;
}

#Ordercontainer{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.orderDiv{
    width: 100%;
    border: 1px #ddd solid;
    border-radius: 2px;
}
.orderInnerLeft{
    width: 50%;
}
.oredrDivInner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
}
.orderInnerLeft ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.orderInnerLeft ul li{
    list-style: none;
}
.orderInnerRight span{
    display: inline-flex;
    gap: 10px;
}
.orderInnerRight{
    text-align: center;
}
.orderDiv p{
    font-size: 12px;
}
.allOrdersContent{
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cartImage{
    margin-top: 20px;
    width: 60px;
    height: 20px;
}
.ulList, .ulList1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
li{
    list-style: none;
}
.ulList1 li{
    font-size: small;
}
.AddressContainerInner{
    display: flex;
    flex-direction: column;
    font-size: medium;
}