page-content{
    height: fit-content;
    background-color: #e3e1e1;
    z-index: 0;
    width: 100%;
    display: block;
    position: relative;
}
page-content innerslider{
    width: 100%;
    display: block;
    position: absolute;
    top:0;
    left:0;
    transition: background-image 0.5s ease;
    /* background-image: linear-gradient(to bottom, transparent 40%, #e3e1e1 100%), url('https://m.media-amazon.com/images/I/71VBt4eTg3L._SX3000_.jpg'); */
    background-repeat: no-repeat;
    background-size: 120% auto;
    background-position: center top; 
    z-index: -1;
}
.scroll-option-left{
    width: 6%;
    height: 96%;
    border-radius: 5px;
    display : flex;
    justify-content: center;
    align-items: center;
}
.scroll-option-left:hover{
    border: 2px solid  rgb(40, 122, 154);
    outline: 2px solid white;
}
.scroll-option-left img{
    height: auto;
    width: 80%;
}
.scroll-option-center{
    width:88%;
    height: 98%;
    /* z-index: 2; */
}
page-content upperscroll{
    position:relative;
    height: 42vh;       /*have to write media querry for this*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    cursor: pointer;
    align-items: center;
    z-index: 1;
}
page-content innerpage{
    height: fit-content;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.info-slide{
    width: 100%;
    text-align: center;
    padding: 12px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
innerpage-content{
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0% 1.6% 1.6% 1.6%;
    gap: 20px;
}
.slider{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap:20px;
}
.targetdiv-item {
    height: 420px;
    width: 100%;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:20px;
    overflow: auto;
}

.targetdiv-inner{
    height: 100%;
    min-width: 289px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: white;
}
.targetdiv-inner:hover{
    cursor: pointer;
}
.targetdiv-inner:hover a{
    cursor: pointer;
    color:sienna;
}
.targetdiv-image-container{
    height: 80%;
    max-height: 280px;
    width: 86%;
    /* padding: 10px; */
    background-color: violet;
}
.targetdiv-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.targetdiv-inner-h3{
    align-self: flex-start;
    margin: 20px 30px 10px 20px;
    padding: 0;
    font-size: 21px;
    font-weight:550;
}
.targetdiv-inner-a{
    color:rgb(59, 178, 182);
    align-self: flex-start;
    padding: 20px;
    margin: 0;
    font-size: 14px;
}
